<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <img src="https://d3ntao8dlqowm1.cloudfront.net/1557126750838.png">
    <img src="https://d3ntao8dlqowm1.cloudfront.net/%EC%BB%A4%EB%AF%B8%EC%85%981804_%EC%B8%84%EB%8B%98.png">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="imgFile">
        <input type="submit" value="S3에 보내기">
    </form>
</body>
</html>